# compiled rust
**/target/

# VS Code override for workspace
.vscode/

# temporary dirs
**/tmp/

# frontend final assets
/frontend/dist/

# untared trunk executable
/frontend/trunk

# subdirectories containing secrets
**/secrets/

**/.direnv/

result

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
