# compiled rust
**/target/

# VS Code override for workspace
.vscode/

# temporary dirs
**/tmp/

# frontend final assets
/frontend/dist/

# untared trunk executable
/frontend/trunk

# subdirectories containing secrets
**/secrets/

**/.direnv/

result