# compiled rust
**/target/

# local bonsaidb storages
**/*.bonsaidb/

# VS Code override for workspace
.vscode/

# temporary dirs
**/tmp/

# frontend final assets
# right now this directory is required
# in docker build pipeline, ideally it should be removed
/frontend/dist/